// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transform($value) {
  -ms-transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  transform: $value;
}
.images {
  .thumbs {
    list_style: none;
    margin: 0;
    padding: 0;

    .thumb {
      display: inline-block;
      position: relative;
      width: 150px;
      height: 150px;

      input {
        display: none;
      }

      a, img {
        display: block;
      }

      :checked + img {
        outline: 3px solid #00f;
      }

      .info {
        display: none;
        width: 100%;
        position: absolute;
        bottom: 0;
        word-wrap: break-word;
        text-shadow: 0 0 1px #000;
      }

      :checked ~ .info {
        display: block;
      }
      &:hover {
        .info {
          display: block;
        }
      }
      &.large {
        width: 100%;
        height: auto;
      }
    }
  }
}
