<li>
  <%= check_box_tag('directories[id][]', directory.id, directory.id.to_s.in?(@params.dig(:directories, 'id') || []), id: 'directories_' << directory.id.to_s) %>
  <%= label_tag('directories_' << directory.id.to_s, (directory.name.presence || '/')) %>
  <ol class="directory_filters">
    <% directory.children.each do |child| %>
      <%= render partial: 'directory_filter', locals: { directory: child } %>
    <% end %>
  </ol>
</li>
