<%= paginate @images %>

<div class="images">
  <ul class="thumbs">
    <%= render partial: 'images' %>
  </ul>

  <div class="ajax_pagination">
    <%= link_to_next_page(@images, 'Load more images', remote: true, params: @params) %>
  </div>
</div>
